<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="info"
    additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.example.board" level="debug"
    additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
